.button span:first-child {
	margin-right: 0.5rem;
}

form button {
	margin-top: 0.5rem;
}

.router-link-exact-active {
	font-weight: bold;
}
.menu-list .router-link-exact-active {
	background-color: #7957d5;
	color: white;
}

.container.is-small {
	max-width: 800px;
}

.menu.column.is-one-quarter > div {
	position: sticky;
	top: 1rem;
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

.mt {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mr {
	margin-right: 0.25rem;
}

.avatar {
	border-radius: 100%;
	margin-right: 0.5rem;
}

.navbar.is-transparent {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

pre + * {
	margin-top: 1.25rem;
}

* + .title {
	margin-top: 2rem;
}