.button span:first-child {
	margin-right: 0.5rem;
}

form button {
	margin-top: 0.5rem;
}

.router-link-exact-active {
	font-weight: bold;
}
.menu-list .router-link-exact-active {
	background-color: #7957d5;
	color: white;
}

.container.is-small {
	max-width: 800px;
}
.container.is-medium {
	max-width: 960px;
}

.menu.column.is-one-quarter > div {
	position: sticky;
	top: 1rem;
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

.mt {
	margin-top: 1rem !important;
}
.mb {
	margin-bottom: 1rem !important;
}
.ml {
	margin-left: 0.5rem;
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-2 {
	margin-top: 2rem;
}
.mr {
	margin-right: 0.25rem;
}

.avatar {
	border-radius: 100%;
	margin-right: 0.5rem;
}

.navbar.is-transparent {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.button.is-block {
	display: block;
	width: 100%;
}

pre + * {
	margin-top: 1.25rem;
}

* + .title {
	margin-top: 2rem;
}

.w-100 {
	width: 100%;
}

.table.rank-half {
	td:first-child {
		width: 15%;
	}
	td:nth-child(2) {
		word-break: break-all;
	}
	td:last-child {
		width: 25%;
	}
	td > * {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow-x: hidden;
	}
}

.table.rank-full {
	td:first-child {
		width: 12.5%;
	}
	td:nth-child(2) {
		word-break: break-all;
	}
	td:last-child {
		width: 25%;
	}
	&.rank-sessions {
		td:last-child {
			width: 50%;
		}
	}
	td > * {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow-x: hidden;
	}
}

.mb-0 {
	margin-bottom: 0 !important;
}

.flag-icon {
	height: 20px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 10px;
	&.is-lg {
		margin-top: 0;
		height: 35px;
		margin-right: 15px;
	}
}

.loader-2 {
	margin: 5.65rem auto;
	width: 3rem;
	height: 3rem;
}

.empty-state {
	text-align: center;
	img {
		max-width: 80%;
		margin-top: 0.5rem;
	}
	.title {
		color: #999;
	}
}

.r-b {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.subnav a + ul {
	display: none;
}

.subnav a.router-link-active + ul {
	display: block;
}

td {
	vertical-align: middle !important;
}

.button img {
	height: 20px;
	margin-right: 10px;
}
.button i {
	margin-left: 10px;
}

.tag {
	text-transform: uppercase;
	margin-top: -3px;
	&.active {
		background-color: #23d160;
		color: #fff;
	}
	&.cancelled {
		background-color: #ff3860;
		color: #fff;
	}
	&.in-trial {
		background-color: #ffdd57;
		color: rgba(0, 0, 0, 0.7);	
	}
}

.beta-message {
	font-size: 90%;
	color: #363636;
	padding: 7px 10px;
	text-align: center;
	background: whitesmoke;
}